* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*Début du css du fil d'ariane*/
header{
    position: fixed;    
    top: 20px; 
    left: 120px;
    right: 120px;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

    background-color: white; 
    border: 3px solid rgb(255, 0, 0);   
    border-radius: 50px;
}

header .logo img {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 28px;
}

nav ul li a {
    color: #444343;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s;
    letter-spacing: 1px;
}
/*Fin du css du fil d'ariane*/

body {
    padding-top: 100px;
}